/***STYLE***/

body {
    background-color: white;
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

.line {
    border: 2px solid rgb(13, 110, 253);
}